.table-wrapper {
  height: 600px;
  overflow: auto;
  border-radius: var(--mat-sys-corner-large);
  background-color: #fff;
  box-shadow: var(--mat-sys-level2);
}

table {
  width: 100%;
}

.table-panel {
  padding: 0.5rem;
}

.table-empty {
  width: 100%;
  text-align: center;
  font: var(--mat-sys-title-small);
  letter-spacing: var(--mat-sys-title-small-tracking);
}
