.table-wrapper {
  height: 600px;
  overflow: auto;
  border-radius: var(--mat-sys-corner-large);
  background-color: #fff;
  box-shadow: var(--mat-sys-level2);
}

table {
  width: 100%;
}

.table-panel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.table-empty {
  width: 100%;
  text-align: center;
  font: var(--mat-sys-title-small);
  letter-spacing: var(--mat-sys-title-small-tracking);
}
