.parser-form {
  padding: 0.5rem;
}

.form-field {
  width: 100%;

  &.file-field {
    display: flex;
    margin: 2rem 0;
    height: 10rem;
  }
}

.file-form-field {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-color: #fff;
  // border-radius: .75rem;
  border-radius: var(--mat-sys-corner-large);
  box-shadow: var(--mat-sys-level2);
  padding: 1.5rem;

  &__label {
    font: var(--mat-sys-label-large);
    letter-spacing: var(--mat-sys-label-large-tracking);
  }
}
