@let file = value();
<div
  class="drop-zone"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  [class.drag-over]="isDragOver()"
  [class.drag-disabled]="file !== null"
  [class.invalid]="isInvalid()"
>
  @if (file !== null) {
    <div class="file-preview">
      <mat-icon class="file-preview__icon">file_present</mat-icon>
      <span class="file-preview__name">{{ file.name }}</span>
      <span class="file-preview__size">{{ file.size }} bytes</span>
      <button mat-icon-button class="file-preview__remove-btn" (click)="onRemoveFile()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  } @else {
    <label for="file-input" class="drop-zone__label">
      {{ dragAndDropText() }}
    </label>
    <input
      #fileInput
      type="file"
      id="file-input"
      [accept]="accept()"
      (change)="onFileChange($event)"
      hidden
    />
    <button matButton="filled" (click)="fileInput.click()">{{ buttonText() }}</button>
  }
</div>
